TextField{
	
	-fx-background-color: RGB(85, 0, 85);
	-fx-background-radius: 20;
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-border-radius: 20px;
	-fx-padding: 5;
	
}

.textfield-1{
	
	-fx-background-color: RGB(85, 0, 85);
	-fx-background-radius: 20;
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-border-radius: 20px;
	-fx-padding: 5;
	-fx-pref-width: 250px;
	
}

.textfield-2{
	
	-fx-background-color: RGB(85, 0, 85);
	-fx-background-radius: 20;
	-fx-font-size: 14px;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-border-radius: 20px;
	-fx-padding: 5;
	-fx-pref-width: 90px;
	
}